{% extends "exercise_base.html" %}

{% block title %}{{ block.super }}Malicious File Access{% endblock %}

{% block header %}
    <h1>Malicious File Access</h1>
{% endblock %}

{% block extra_head %}
    {% if msg %}
        <script type="text/javascript">
            alert('{{msg}}');
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Many sites use a dynamic url to retrieve files for the sure. The most
    common implementation seems to be pulling user images like their profile
    picture. Instead of using an id or token these sites sometimes use partial
    file paths. A clever individual could spot this and try to get our DB passwords,
    <code>/etc/passwd</code> file or other sensitive data on our filesystem.</p>

    <p>Simple exercise: get the <code>settings.py</code> file to display on the screen.</p>
    Example link: <a href="{% url 'user-profile' %}?p=hacker.jpg">{% url 'user-profile' %}?p=hacker.jpg</a>
    <div class="hints panel">
        <p>Almost. Keep trying, you'll get it. Helpful hints:</p>
        <ul>
            <li>the <code>settings.py</code> file is a few directories up</li>
            <li>a few <code>..</code>'s never hurt anyone</li>
        </ul>
        <a class="tiny button" id="show_solution">show solution</a>
    </div>
    <div class="solution panel">
        <h4>Solution</h4>
        <p>The correct URL looks like:</p>
        <p><a href="/user-profile?p=../../settings.py">/user-profile?p=../../settings.py</a>
    </div>
{% endblock %}

{% block extra_topnav %}
<li><a href="{% url 'injection-sql' %}">Prev</a></li>
<li><a href="{% url 'injection-code-execution' %}">Next</a></li>
{% endblock %}

{% block extra_botnav %}
<li><a href="{% url 'injection-sql' %}">Prev</a></li>
<li><a href="{% url 'injection-code-execution' %}">Next</a></li>
{% endblock %}
