<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css">
        <link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon">
        <title>{% block title %}Shiny, Let's Be Bad Guys: Exploiting and Mitigating the Top 10 Web App Vulnerabilities{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
            <nav>
                <ul>
                    <li><a href="#">Some nav here</a></li>
                </ul>
            </nav>
        </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
        <p>
            Copyright &copy; 2013
            <a href="http://mike.pirnat.com/">Mike Pirnat</a> &amp;
            <a href="http://traceback.org">David Stanek</a>
        </p>
        <p><a href="{% url 'about' %}">About</a></p>
        </footer>
    </body>
</html>
