.answer, .hints {
    border: 1px solid gray;
    background-color: lightgray;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}

.answer p {
    color: green;
    margin: 0;
}

.hints p {
    color: red;
    margin: 0;
}
.hints ul {
    margin-bottom: 5px;
}

#content {
	margin-bottom: 2em;
}

#content ul {
	list-style-position: inside;
}

aside ul {
	font-size: 10pt;
}

hgroup h1 {
	font-size: 20pt;
	margin-bottom: -0.2em;
}
hgroup h2 {
	font-size: 14pt;
}
