{% extends 'base.html' %}

{% block header %}
    <h2>Sensitive Data Exposure</h2>
{% endblock %}

{% block content %}

<p>Insufficient transport layer protection problems can manifest in a variety
of forms.  They all boil down to having sensitive information being passed in
the clear or too-weakly encrypted.  An observer can harvest login credentials,
capture and replay cookies, or compromise other sensitive data.</p>

<p>In this exercise a login form is not sufficiently secured; it POSTs the
user's credentials in the clear.  Start up a proxy on your computer and watch
the request when the form below is submitted.</p>

<form action="{% url 'exposure-login' %}" method="POST">
    <p>User name: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <p><input type="submit"></p>
</form>

{% endblock %}
