<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}Shiny, Let's Be Bad Guys: Exploiting and Mitigating the Top 10 Web App Vulnerabilities{% endblock %}</title>
  {% load static from staticfiles %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">

  <script src="{{ STATIC_URL}}js/vendor/custom.modernizr.js"></script>

  {% block extra_head %}{% endblock %}

</head>
<body>


<!-- Header and Nav -->
    <header class="row">
            <hgroup>
                <h1>Shiny, Let's Be Bad Guys!</h1>
                <h2>Exploiting and Mitigating the Top 10 Web App Vulnerabilities</h2>
            </hgroup>
    </header>

    <nav id="topnav" class="row">
        <div class="large-9 columns large-offset-3">
            <ul class="inline-list right">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% block extra_topnav %}{% endblock %}
            </ul>
        </div>
    </nav>

<!-- End Header and Nav -->


  <div class="row">

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on
    small devices) but to be to the right of the nav on larger screens -->
    <div id="content" class="large-9 push-3 columns">
        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>

    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <aside class="large-3 pull-9 columns panel">

        <h4>Exercises</h4>

        <ul class="side-nav">
            <li><a href="{% url 'injection' %}">A1: Injection</a></li>
            <li><a href="{% url 'broken-auth' %}">A2: Broken Authentication and Session Management</a></li>
            <li><a href="{% url 'xss' %}">A3: Cross-Site Scripting (XSS)</a></li>
            <li><a href="{% url 'direct-object-references' %}">A4: Insecure Direct Object References</a></li>
            <li><a href="{% url 'misconfig' %}">A5: Security Misconfiguration</a></li>
            <li><a href="{% url 'exposure' %}">A6: Sensitive Data Exposure</a></li>
            <li><a href="{% url 'access-control' %}">A7: Missing Function-Level Access Control</a></li>
            <li><a href="{% url 'csrf' %}">A8: Cross-Site Request Forgery (CSRF)</a></li>
            <li><a href="{% url 'components' %}">A9: Using Known Vulnerable Components</a></li>
            <li><a href="{% url 'redirects' %}">A10: Unvalidated Redirects and Forwards</a></li>
        </ul>

    </aside>

  </div>


  <!-- Footer -->

	<footer class="row">
		<div class="large-6 columns">
			<p>Copyright &copy; 2013-2017
				<a href="http://mike.pirnat.com/">Mike Pirnat</a> &amp;
				<a href="http://traceback.org/">David Stanek</a>
			</p>
		</div>
		<nav id="botnav" class="large-6 columns">
			<ul class="inline-list right">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				{% block extra_botnav %}{% endblock %}
			</ul>
		</nav>
    </footer>
  <script src="{{ STATIC_URL }}js/vendor/zepto.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.cookie.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.alerts.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.forms.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.joyride.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.magellan.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.placeholder.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.section.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.tooltips.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"></script>
  <!-- Application Javascript, safe to override -->
  <script>
    $(document).foundation().foundation('joyride', 'start');
  </script>
  {% block extra_js %}{% endblock %}
</body>
</html>
