{% extends 'base.html' %}

{% block title %}{{ block.super }}Security Misconfiguration{% endblock %}

{% block header %}
    <h2>Security Misconfiguration</h2>
{% endblock %}

{% block content %}

    <p>It's often easy to misconfigure or neglect to set appropriate security
    settings in your application.  Some examples of common carelessness
    include:</p>

    <ul>
        <li><a href="?debug=1">The secret Django Debug Toolbar</a></li>
        <li><a href="{% url 'misconfig-boom' %}">Debug enabled in production</a></li>
    </ul>

    <p class="notes">What if an attacker could inject code to make the app
        fail when connecting to the database?</p>
{% endblock %}

{% block extra_topnav %}
<li><a href="{% url 'direct-object-references' %}">Prev</a></li>
<li><a href="{% url 'exposure' %}">Next</a></li>
{% endblock %}

{% block extra_botnav %}
<li><a href="{% url 'direct-object-references' %}">Prev</a></li>
<li><a href="{% url 'exposure' %}">Next</a></li>
{% endblock %}