{% extends 'base.html' %}

{% block title %}{{ block.super }}: Injection{% endblock %}
{% block header %}
    <h2>Injection Attacks</h2>
{% endblock %}

{% block content %}
    <p>Injection attacks involve getting untrusted input into an interpreter
    for execution.  They can take on many different forms and can attempt entry
    through many different channels.</p>
    <ul>
        <li><a href="{% url 'injection-sql' %}">SQL Injection</a></li>
        <li>Insecure <a href="{% url 'injection-file-access' %}">file access</a></li>
        <li>Malicious <a href="{% url 'injection-code-execution' %}">code execution</a></li>
    </ul>
{% endblock %}

{% block extra_topnav %}
<li><a href="{% url 'home' %}">Prev</a></li>
<li><a href="{% url 'injection-sql' %}">Next</a></li>
{% endblock %}

{% block extra_botnav %}

<li><a href="{% url 'home' %}">Prev</a></li>
<li><a href="{% url 'injection-sql' %}">Next</a></li>
{% endblock %}
